name: Generate Snake

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: Orlando-CS
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Push snake to output branch
        uses: EndBug/add-and-commit@v9
        with:
          branch: output
          message: "Update contribution snake"
          add: "dist/github-contribution-grid-snake.svg"
